.dialog {
	border: 1px solid #576a80; 
	background-color: red;
}

.dialogHeader {
	font-size: 12px;
	font-weight: bold;
	font-family: arial, helvetica, sans-serif;
}

.dialogTitle,
.dialogSubtitle,
.dialogMessage,
.dialogText {
	font-family: arial, helvetica, sans-serif;
}

.dialogTitle,
.dialogSubtitle {
	font-weight: bold;
}

.dialogMessage,
.dialogText {
	font-weight: normal;
}

.dialogTitle {
    padding-top: 6px;
	font-size: 14px;
}

.dialogSubtitle {
    padding-top: 6px;
	font-size: 13px;
}

.dialogMessage {
    padding-top: 0px;
	font-size: 13px;
}

.dialogText {
	font-size: 12px;
}

.dialogHeaderColumn1 {
	width: auto; 
	height: 58px; 
	text-align: left;
	vertical-align: top;
}

.dialogHeaderColumn2 {
	width: 75px; 
	height: 58px; 
	text-align: right;
	vertical-align: bottom;
}
