.tree {
	padding: 0px; 
	margin: 0px; 
	background-color: #fff; 
	border: 0px solid #ccc; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-o-user-select: none;
	color: #004;
}

.treeNode {
	padding-left: 3px;
	text-decoration: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-o-user-select: none;
	color: #004;
}

.treeNodeHighlighted {
	padding-left: 4px;
	border: 0px solid #b9d7fc; 
	border: 1px solid #ccc; 
	text-decoration: underline;
	background-color: #ddecff;
	background-color: #faeccf;
	background-color: #ffebda;
	background-color: #efefff;
	color: #004;
}
	
.treeNodeSelected {
	padding-left: 4px;
	border: 1px solid #ccc; 
	border: 1px solid #84acdd; 
	background-color: #d3e6ff;
	background-color: #efefff;
	background-color: #ddecff;
	color: #darkBlue;
}
