/*
 * Layout related
 * --------------
 */

.layoutPane {
	padding: 0px; 
	margin: 0px;
	text-align: left; 
	vertical-align: top;
	border-spacing: 0px;
	border-collapse: collapse; 
}

.layoutPane.td, 
.layoutPane.th {
	margin: 0px;
	padding: 0;
}

/*
.panelBody {
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px; 
	overflow: auto;
}
*/

.verticalScroll {
	overflow-y: scroll !important;
}

.absolutePosition {
	position: absolute;
}
